@font-face {
  font-family: "Bold";
  src: url("../fonts/InstrumentSans-Bold.woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SemiBold";
  src: url("../fonts/InstrumentSans-SemiBold.woff2");
  font-style: normal;
  font-display: swap;
}
